{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Passwort zurücksetzen</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>

<body>
    <section class="login-dark">
        <form method="post" style="margin-top: 10vh;">
            {% if messages %}
                {% for i in messages %}
                {% autoescape off %}
                {% if i.tags == "error" %}
                <div role="alert" class="alert alert-danger"><span>{{i}}</span></div>
                {% else %}
                <div role="alert" class="alert alert-{{i.tags}}"><span>{{i}}</span></div>
                {% endif %}
                {% endautoescape %}
                {% endfor %}
            {% endif %}
            {% csrf_token %}
            <h1>Passwort vergessen</h1>
            <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
            {{ form|crispy }}

            <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Senden</button></div><a class="forgot" href="{% url 'login' %}">Anmelden?</a>
        </form>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>