html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
}

header {
    background-color: darkgray;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.login {
    margin: 1em;
}

main {
    margin-left: 10%;
    margin-right: 10%;
}