:root {
    --bgColor: white;
    --accentColor: #dddddd;
    --darkAccentColor: #7b7979;
    --highlightedColor: #ABC270;
    --starYellow: #FED049;
    --red: #DD0000;
    --borderRadMenu: 0.6rem;

    --starheight: 2em;
}

h1 {
    font-family: 'Alegreya Sans', sans-serif;
}

h2 {
    font-family: 'Alegreya Sans', sans-serif;
}

h3 {
    font-family: 'Alegreya Sans', sans-serif;
}

p {
    font-family: 'Merriweather', serif;
    margin: 0;
}

a {
    font-family: 'Merriweather', serif;
}

.mainFont {
    font-family: 'Alegreya Sans', sans-serif;
}

img {
    border-radius: var(--borderRadMenu);
}

.imgContainer {
    background-color: rgba(0, 0, 0, 0) !important;
}

.italic {
    font-style: italic;
}

.leftText {
    text-align: left;
}

.smallText {
    font-size: 0.8em;
}

.clickableText {
    text-decoration: underline;
    color: var(--darkAccentColor);
    cursor: pointer;
}

/*Base*/
header {
    width: calc(100% - 4rem);
    background-color: var(--highlightedColor);
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#headerLogo {
    height: 50px;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 0;
}

.profileContainer p,
.profileContainer a {
    color: black;
    font-family: 'Alegreya Sans', sans-serif;
}

header p {
    margin: 0;
}

.profileContainer a:hover {
    color: var(--darkAccentColor) !important;
}

.profileContainer a:active {
    color: var(--accentColor) !important;
}


nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

.menuItem {
    padding: 0.6rem 1.2rem 0.6rem 1.2rem;
    border-radius: 0 0 var(--borderRadMenu) var(--borderRadMenu);
    background-color: var(--accentColor);
    text-transform: uppercase;
}

.active,
.menuItem:hover {
    background-color: var(--highlightedColor);
    cursor: pointer;
}

.menuItem a {
    color: black;
    text-decoration: underline;
    font-weight: bold;
    font-family: 'Alegreya Sans', sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
}

.fade-scroll-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-title {
    margin: 0;
    padding: 0;
}

.vegivegan-label {
    max-width: 5em;
    max-height: 5em;
}

.vegivegan-label-timeline {
    width: 2em;
    height: 2em;
}

.content {
    flex-shrink: 0;
    width: 80%;
    max-width: 1100px;
    padding: 1rem;
    flex-basis: auto;
    margin: 3rem auto 0 auto;
    border-radius: var(--borderRadMenu);
}

.content h1 {
    margin: 0.2rem 0 0 0;
}

.footerHelper {
    min-height: 3rem;
    flex-grow: 2;
}

footer {
    width: calc(100% - 3rem);
    background-color: var(--accentColor);
    padding: 1.5rem;
    text-align: center;
}

/*Multiple*/
.clickableDiv {
    transition: all 140ms;
}

.clickableDiv:hover {
    animation-name: hoverClickable;
    animation-duration: 500ms;
    background-color: var(--highlightedColor) !important;
    box-shadow: 0px 5px 21px -5px rgba(0, 0, 0, 0.41);
    cursor: pointer;
}

.profilePicture {
    width: 2.2rem;
    height: 2.2rem;
    object-fit: cover;
    border-radius: 100%;
    padding: 2px;
    background-color: var(--highlightedColor);
}

/*Index*/
.line {
    border: 2px solid;
    margin: 0 0 1.5rem 0;
}

.galleryView {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    margin: 0;
}

#menu_box_container {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    justify-content: stretch;
    align-content: stretch;
    align-items: top;
    gap: 3rem;
    align-items: stretch;
}

.galleryElement {
    flex-grow: 1;
    flex-basis: 50%;
}

#clickMenuBox {
    background-color: var(--accentColor);
    border-radius: var(--borderRadMenu);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}

#clickMenuBox h1 {
    font-size: 1.8em;
    margin-bottom: 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.coverimage {
    margin-top: 0.5em;
    margin-bottom: 0.5em;

    width: 100%;
    height: 25vh;
    object-fit: cover;
    image-orientation: from-image;
}

.descriptionContainerMenuSite p {
    text-align: left;
}

#clickMenuBox .starshape {
    transition-duration: 140ms;
    /* Color Change with:
    https://stackoverflow.com/questions/22252472/how-can-i-change-the-color-of-an-svg-element
    https://codepen.io/sosuke/pen/Pjoqqp
    */
    filter: invert(99%) sepia(0%) saturate(156%) hue-rotate(140deg) brightness(91%) contrast(92%);
}

#clickMenuBox:hover .starshape {
    filter: invert(97%) sepia(4%) saturate(3966%) hue-rotate(18deg) brightness(83%) contrast(78%);
}

#clickMenuBox .emptystars {
    transition-duration: 140ms;
    background-color: var(--darkAccentColor);
}

#clickMenuBox:hover .emptystars {
    background-color: white;
}


/*All Menus*/
.menuListbox {
    background-color: var(--accentColor);
    padding: 1.5em;
    height: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    margin-bottom: 1.5em;
    border-radius: var(--borderRadMenu);
}

.menuListbox h3 {
    width: 20%;
    min-width: 10%;
}

.menuListbox .tielineDescription {
    font-size: 0.8rem;
    justify-self: end;
    width: 60%;
}



.menuListbox .menuListOccurrences {
    font-weight: normal;
    margin-left: 2rem;
}

.menuListbox .rating {
    width: auto;
    margin: 0 0 0 auto;
}

.menuListbox .vegivegan-label {
    width: 2em;
    height: 2em;
    display: none;
    margin: 0;
    border-radius: 50%;
}

.menuListbox #vegivegan-container {
    display: flex;
    width: 10%;
    height: 2em;
    min-width: 2em;
}


.criteriaContainer {
    position: relative;
    display: inline-block;
    width: 10em;
    display: flex;
    flex-direction: column;
}

.stat-criteria {
    position: absolute;
    z-index: 50;
    top: calc(0.9em + 12px);
    height: 0em;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.orderContainer {
    display: flex;
    gap: 1em
}

.orderButton,
.stat-criteria button {
    all: unset;
    border-radius: var(--borderRadMenu);
    background-color: var(--accentColor);
    color: var(--greyText);
    font-family: 'Alegreya Sans', sans-serif;
    text-align: center;
    font-weight: normal;
    padding: 5px;
    cursor: pointer;
    width: 94%;
    z-index: 50;
    transition: 140ms;
}

.orderButton:hover,
.orderButton:focus,
.stat-criteria button:hover {
    color: black;
    background-color: var(--highlightedColor);
}

.orderButton:focus {
    border-radius: var(--borderRadMenu) var(--borderRadMenu) 0 0;
}

.stat-criteria button {
    border-top: 1px solid var(--darkAccentColor);
    border-radius: 0;
}

.stat-criteria button:last-child {
    border-radius: 0 0 var(--borderRadMenu) var(--borderRadMenu);
}

.timeline-date h2 {
    border-bottom: gainsboro 0.1em solid
}

.menuListbox .starshape {
    transition-duration: 140ms;
    filter: invert(99%) sepia(0%) saturate(156%) hue-rotate(140deg) brightness(91%) contrast(92%);
}

.menuListbox:hover .starshape {
    filter: invert(97%) sepia(4%) saturate(3966%) hue-rotate(18deg) brightness(83%) contrast(78%);
}

.menuListbox .emptystars {
    transition-duration: 140ms;
    background-color: var(--darkAccentColor);
}

.menuListbox:hover .emptystars {
    background-color: white;
}

/* Badges */
.badgeView {
    display: inline;
    flex-direction: row;
    width: 100%;
}

.badgeBig {
    display: inline-block;
    width: 10%;
    height: auto;
    margin: 10px;
}

.badgeBigImage {
    width: 100%;
    height: auto;
}

.badge {
    display: inline-block;
    width: 3em;
    height: auto;
    margin: 10px;
}

.badgeImage {
    width: 3em;
    height: auto;
}

.tooltip {
    position: relative;
}

.tooltip .tooltiptext {
    display: None;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    display: block;
}

.unposses {
    filter: blur(1px) opacity(30%) grayscale(100%);
}



.rating {
    width: 100%;
    display: flex;
    gap: 1em;
    align-items: center;
    margin-bottom: 1.5em;
}


.stars {
    width: calc(var(--starheight)*5.5);
    height: var(--starheight);
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

}

.starshape {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-image: url("../images/starshape.svg");
    background-size: cover;
}


.emptystars {
    position: absolute;
    width: 99%;
    height: 99%;
    top: 0;
    left: 0;
    background-color: var(--accentColor);
}

.fullstars {
    width: 0%;
    height: 99%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--starYellow);
}








.interactionBox {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.give-star-rating {
    width: 49%;
}

.give-star-rating h3 {
    margin: 0;
}

.give-stars {
    width: calc(var(--starheight)*6);
    height: var(--starheight);
    margin-top: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.starContainer {
    height: 3em;
    width: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.give-star {
    height: 3em;
    width: 3em;

    background-image: url('../images/emptystar.png');
    background-size: contain;
    background-color: transparent;
    border: 0;
    padding: 0;
}

#menuTypeButton {
    max-width: 49%;
    height: 1.4rem;
    background-color: var(--accentColor);
    border-radius: var(--borderRadMenu);
    padding: 0.6rem 1.2rem 0.6rem 1.2rem;
    transition: 140ms;
}

#menuTypeButton h3 {
    margin: 0;
}

#menuTypeButton:hover {
    cursor: pointer;
    background-color: var(--highlightedColor);
}

/* Menu */
.descriptionContainerMenuSite {
    width: 100%;
    margin-bottom: 0.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.descriptionContainerMenuSite h1 {
    margin: 0 !important;
}

.descriptionContainerMenuSite .vegivegan-label {
    height: 3.2em;
}

.uploadButton {
    max-width: 49%;
    height: 1.4rem;
    background-color: var(--accentColor);
    border-radius: var(--borderRadMenu);
    padding: 0.6rem 1.2rem 0.6rem 1.2rem;
    margin-right: 1em;
    transition: 140ms;
    border-color: black !important;
    border: solid;
}

.uploadButton h3 {
    margin: 0;
    color: #000000;
}

.uploadButton:hover {
    cursor: pointer;
    background-color: var(--highlightedColor);
}

/* User Profile */
.userPageHeader {
    display: flex;
}

.userNameContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    margin: 0 1.5rem 0.6rem 0;
}

.userNameContainer h1,
.userNameContainer h3 {
    margin: 0;
}

.userNameContainer .profilePicture {
    height: 2.2rem;
    width: 2.2rem;
    margin: 0 4px 0 0;
}

.userNameContainer .profilePicture,
.userNameContainer h1 {
    margin-bottom: 6px;
}

/* Cookie Icon */
.userNameContainer img {
    width: 1.2rem;
    margin: 0 4px 0 2px;
}

.userName {
    /* font-variant: small-caps; */
}

.userNameContainer div {
    display: flex;
    width: 100%;
}

#profilePictureChangeButton {
    margin: 3px 0 0 0;
}

#popUp {
    position: absolute;
    top: 30%;
    left: 50%;
    max-width: 316px;
    transform: translate(-50%, -50%);
    padding: 12px 8px 12px 8px;
    background-color: var(--highlightedColor);
    border-radius: var(--borderRadMenu);
    box-shadow: 0 0 21px 1000px rgba(0, 0, 0, 0.251), 0 6px 36px -8px rgb(0, 0, 0);
    display: inline;
    transition-duration: 140ms;
    display: none;
}

#popUp div {
    display: flex;
    justify-content: space-between;
}

#popUp div img {
    width: 24px;
    text-align: right;
    color: #FF4A4A;
}

.upload-field {
    margin: 6px 0 6px 0;
}

#file-upload-button {
    background-color: blue !important;
}

.titleMargin {
    margin: 0;
}

#underTitle {
    margin-bottom: 0.6rem;
}

#bottomTitle {
    margin: 0.6rem 0 0 0;
}

.reviewTitle {
    border-bottom: solid 0.1em black;
}