#menu {
 
    
    display: flex;
    align-items: center;
    flex-direction: column;
}

#menu h1 {
    margin-top: 2em;
    display: flex;
    align-items: center;
}

#menu h1 span{
    font-size: 0.8em;
    font-weight: normal;
}


#menu h1 .vegivegan-label{
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
    margin-left: 0.5em;
}





#menu #gallery{
    padding-top: 2em;
    padding-bottom: 4em;

    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
#menu #gallery #images{
    width:80%;
    height: 40vh
}
#menu #gallery #images img{
    width:100%;
    height:100%;
}
#menu #gallery #images #image-functions{
    display: flex;
    justify-content: space-between;
    background-color: white;
}


#menu .rating{
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#menu .rating img{
    width: 50%
}
#menu .rating{
    padding:0.2em;
}



#menu #reviews{
    width: 80%;
}

#menu #reviews h2{
    display: flex;
    border-bottom: solid 0.1em black;
}



.textfield{
    margin-left: 0.5em;
    margin-right: 0.5em;
    border: none;
    background-color: whitesmoke;
    height: 15vh;
    font-size: 1.5em;
    flex:1;
    margin-bottom: 1em;
    
}
#review-text{
    display: flex;
    align-items: center;
    
    width:auto;
    flex:1;
    flex-direction: column;
}



.fade_scroll_top h2{
    display: flex;
    align-items: center;

    width:100%;
    margin: 0;
    border-bottom: 0.1em solid gainsboro;
}

.review{
    width: 100%;
    background-color: gainsboro;
    margin-bottom: 2em;

}
.review-header{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 0.2em;
    background-color: gray;
    color: white;
}

/* Image Gallery
/*
/* https://www.w3schools.com/howto/howto_js_slideshow.asp */

.imageContainer {
    position: relative;
    margin: auto;
    z-index: 0;
    width: 100%;
    margin: 0;
    margin-bottom: 2em;
}

.imageSlide {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: gray;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.imageImage {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    image-orientation: from-image;
}

img.portrait {
    height: 60vh;
    width: auto;
}

.imgContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: black;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.imageUserText {
    color: red;
    position: absolute;
    font-size: 12px;
    padding: 8px 12px;
    top: 0;
}

.imageButtons {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 98%;
    text-align: right;
    display: flex;
    justify-content: end;
    align-items: center;
}


.imageLikeText {
    color: gray;
    margin-right: 2em;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}


/* https://www.w3schools.com/howto/howto_js_alert.asp */
/* The alert message box */
.alert {
    padding: 20px;
    color: white;
    margin-bottom: 15px;
}

.error {
    background-color: #f44336; /* Red */
}

.success {
    background-color: green;
}
  
/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}
