{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <script src="{% static 'js/api.js' %}"></script>
    <script src="{% static '/js/app.js' %}"></script>

    <script>
        const api = new API("{{ csrf_token }}");
        {% if user.is_authenticated %}
            const username = "{{ user.username }}";
        {% else %}
            const username = "";
        {% endif %}
    </script>

    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/imageSlideshow.js' %}"></script>
    <script src="{% static 'js/utility.js' %}"></script>
    <script src="{% static 'js/allmenu_statistics.js' %}"></script>
    <script src="{% static 'js/menuinstance_statistics.js' %}"></script>

    {% block import %}
    {% endblock %}

    <title>Mensa Rating</title>
</head>

<body>
    <header>
        <p>
            <a href="{% url 'index' %}">🍽️MENSA APP</a>
        </p>
        <div>
            <p>
                {% if user.is_authenticated %}
                <a href="{% url 'userProfile' %}">Profil</a>
                |
                <a class="login" href="{% url 'logout' %}" style="color: var(--bs-light);">Logout</a>
                {% else %}
                <a class="login" href="{% url 'login' %}" style="color: var(--bs-light);">Login</a>
                {% endif %}
            </p>
        </div>
    </header>

    <nav>
        <div class="menuItem" onclick="location.href='{% url 'index' %}';">
            <a href="{% url 'index' %}">Heute</a>
        </div>
        <div class="menuItem" onclick="location.href='{% url 'allMenu' %}';">
            <a href="{% url 'allMenu' %}">alle Menüs</a>
        </div>
        <div class="menuItem" onclick="location.href='{% url 'timeline' %}';">
            <a href="{% url 'timeline' %}">Vergangene Menüs</a>
        </div>
    </nav>

    
    <main class="content">
        {% block content %}
        {% endblock %}
    </main>

    <div class="footerHelper"></div>

    <footer>
        Made with ❤️ by 4 NKSA Students
    </footer>




</body>

</html>