{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="{% static 'js/api.js' %}"></script>

    <script>
        const api = new API("{{ csrf_token }}");
    </script>

    <script src="{% static 'js/main.js' %}"></script>

    <title>Mensa Rating</title>
</head>
<body>
    <header>
        <a href="{% url 'index' %}">Mensa NKSA Rated!</a>

        <div>
            {% if user.is_authenticated %}
            <a class="login" href="{% url 'logout' %}" style="color: var(--bs-light);">Logout</a>
            {% else %}
            <a class="login" href="{% url 'login' %}" style="color: var(--bs-light);">Login</a>
            {% endif %}

            <a href="{% url 'userProfile' %}">Profil</a>


        </div>
        
    </header>


    {% block content %}
    {% endblock %}
</body>
</html>