{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="{% static 'js/api.js' %}"></script>
    <script src="{% static '/js/script.js' %}"></script>

    <script>
        const api = new API("{{ csrf_token }}");
    </script>

    <title>Mensa Rating</title>
</head>

<body>
    <header>
        <a href="{% url 'index' %}">🍽️Mensa NKSA Rated!</a>
        <div>
            {% if user.is_authenticated %}
            <a class="login" href="{% url 'logout' %}" style="color: var(--bs-light);">Logout</a>
            <a href="{% url 'userProfile' %}">Profil</a>
            {% else %}
            <a class="login" href="{% url 'login' %}" style="color: var(--bs-light);">Login</a>
            {% endif %}
        </div>
    </header>
    <nav>
        <a href="{% url 'index' %}">heute</a>
        <a href="{% url 'allMenu' %}">alle Menus</a>
        <a href="{% url 'timeline' %}">timeline</a>
    </nav>

    <main class="content">
        {% block content %}
        {% endblock %}
    </main>

    <div style="padding-top: 5em;"></div>


    <footer>
        Made with ❤️ by Ian, Robin, Valentin and Nicolas
    </footer>




</body>

</html>