{% extends "base.html" %}
{% block content %}

<h1>Menu Heute | {% now "d. F" %}</h1>

<div id="menu_box_container" class="galleryView">
    {% for menu, rating, allTimeRating in menus %}
    <div class="galleryElement" onclick="location.href='{% url 'menu' menu.pk %}';">
        <div class="menuBox">
            <a class="MenuTitle" href="{% url 'menu' menu.pk %}">{{menu.name}}</a>
            <p>{{menu.description}}</p>
            <p>Rating Today: {{rating}}</p>
            <p>All time Rating: {{allTimeRating}}</p>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}