{% extends "base.html" %}
{% load static %}
{% block content %}

<h1>Menu Heute | {% now "d. F" %}</h1>
<div class="line"></div>
<div id="menu_box_container">
    {% for menu, rating, allTimeRating, image in menus %}
    <div id="clickMenuBox" class="galleryElement clickableDiv" onclick="location.href='{% url 'menu' menu.pk %}';">
        
        <h1>
            {{menu.name}}

            {% if menu.vegetarian %}
            <img class="vegivegan-label" src="{% static 'images/vegetarian.png' %}" alt="vegetarian">
            {% elif menu.vegan %}
            <img class="vegivegan-label" src="{% static 'images/vegan.png' %}" alt="vegan">
            {% endif %} 
        </h1>

        <div class="description">{{menu.description}}</div>
            

        <img class="coverimage" src="{{image.image.url}}" alt="no image uploaded">

        
        <img class="stars" src="{% static 'images/5star.jpg' %}" alt="5 stars">
        <p>Rating Today: {{rating}}</p>
        
       
    </div>
    {% endfor %}
</div>

{% endblock %}