{% extends "base.html" %}

{% block import %}
{% endblock %}
{% load static %}
{% block content %}

<h1>Menu Heute | {% now "d. F" %}</h1>
<div class="line"></div>
<div id="menu_box_container">
    <script>
        let data;
        let rating;
    </script>

    {% for index, menu, rating, allTimeRating, image in menus %}
    <div id="clickMenuBox" class="galleryElement clickableDiv" onclick="location.href='{% url 'menu' menu.pk %}';">
        
        <h1>
            {{menu.name}}

            {% if menu.vegetarian %}
            <img class="vegivegan-label" src="{% static 'images/vegetarian.png' %}" alt="vegetarian">
            {% elif menu.vegan %}
            <img class="vegivegan-label" src="{% static 'images/vegan.png' %}" alt="vegan">
            {% endif %} 
        </h1>

        <div class="description">{{menu.description}}</div>
            
        {% if image %}
            <img class="coverimage" src="{{image.image.url}}" alt="no image uploaded">
        {% else %}
            <img class="coverimage" src="{% static 'images/no_images_yet.png' %}" alt="no images">
        {% endif %}
        

        <div class="rating">
            ({{rating}})
            <div class="stars">
                <div class="emptystars"></div>
                <div id="{{index}}" class="fullstars"></div>
                <img class="starshape" src="{% static 'images/starshape.png' %}" alt="starshape">
            </div>
        </div>
        
        <script data-menuindex="{{index}}" data-rating="{{rating}}">
            data = document.currentScript.dataset;
            starRate(data.menuindex, data.rating)
            checkOrientation()
        </script>
       
    </div>
    {% endfor %}
</div>

{% endblock %}