{# Maintained by: Robin, Nicolas, Ian and Valentin #}

{% extends "base.html" %}
{% load static %}

{% block import %}
{% endblock %}

{% block content %}

<script src="{% static 'js/menuinstance_statistics.js' %}"></script>

<main id="menu">
    <div class="descriptionContainerMenuSite">
        <div>
            <h1>
                {{name}}
            </h1>
            <p>
                {{description}}
            </p>
        </div>
        {% if vegetarian %}
        <img class="vegivegan-label" src="{% static 'images/vegetarian.png' %}" alt="vegetarian">
        {% elif vegan %}
        <img class="vegivegan-label" src="{% static 'images/vegan.png' %}" alt="vegan">
        {% endif %}
    </div>

    <div id="rating-menuType" class="rating">
        <div class="stars">
            <div class="emptystars"></div>
            <div id="stars-alltime" class="fullstars"></div>
            <div class="starshape"></div>
        </div>

        <div>
            <p>{{allTimeRating}} Sterne von {{allTimeNumRates}} Bewertungen</p>
        </div>
    </div>

    <div class="occurencesCounter">
        <p>{{name}} gab es schon <strong>{{occurrences}}</strong> mal</p>
    </div>



    <div class="imageContainer">
        {% for image, badges in images %}
        <div class="imageSlide fade">
            <div class="userName imageUserText mainFont">
                {% if image.profil.picture %}
                <img src="{{image.profil.picture.url}}" alt="profil picture" class="profilePicture">
                {% else %}
                <img src="{% static 'images/userProfileIconMaterialSymbol.svg' %}" alt="👤" class="profilePicture">
                {% endif %}
                {% if image.profil.user != None %}
                <span>{{image.profil.user.username}} #{{image.profil.karma}}</span>
                {% else %}
                <span>anonym</span>
                {% endif %}
                {% for i in badges %}
                    <div class="tooltip badge">
                        <img src="{{i.image.url}}" alt="" class="badgeImage">
                <div class="tooltiptext"><span style="font-weight: bold;">{{i.name}}</span><br><span
                        style="">{{i.description}}</span></div>
                    </div>
                {% endfor %}
            </div>
            <div class="imgContainer">
                <img src="{{image.image.url}}" alt="{{image.image.name}}" class="imageImage">
            </div>
            <div class="imageButtons">
                {% if today %}
                <button class="uploadbutton" onclick="togglePopup()">upload</button>
                <button class="like-btn imageLike" onclick="like(2, {{image.pk}})" id="2-{{image.pk}}-btn">Like</button>
                {% endif %}

                <p class="likeText imageLikeText">Likes: <span id="2-{{image.pk}}">{{image.likes}}</span></p>
            </div>

        </div>
        {% endfor %}
        {% if images|length == 0 %}
        <div class="imageSlide fade">
            <div class="imgContainer">
                <img src="{% static 'images/no_images_yet.jpg' %}" alt="Keine Bilder verfügbar" class="imageImage">
            </div>
            <div class="imageButtons">
                {% if today %}
                <button class="uploadbutton" onclick="togglePopup()">upload</button>
                {% endif %}
            </div>
        </div>
        {% else %}
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
        {% endif %}
    </div>


    <script>
        setInterval(checkOrientation, 1000);
        showSlides(slideIndex);
    </script>


    <script>
        let menuTypes = [];
        let orderType = "rating";
    </script>

    <div style="width: 100%;">
        <div class="fade-scroll-top">
            <h1 class="list-title">Alle Menüs</h1>
            <div class="orderContainer">
                <div class="criteriaContainer">
                    <button class="orderButton" onclick="toggleStatOptions(0)">Filter</button>
                    <div class="stat-criteria">
                        <button onclick="filterMenutypes('nofilter')">Kein Filter</button>
                        <button onclick="filterMenutypes('vegan')">Vegan</button>
                        <button onclick="filterMenutypes('vegi')">Vegetarisch</button>
                    </div>
                </div>

                <div class="criteriaContainer">
                    <button class="orderButton" onclick="toggleStatOptions(1)">Sortieren</button>
                    <div class="stat-criteria">
                        <button onclick="orderMenutypes('date')">Datum</button>
                        <button onclick="orderMenutypes('rating')">Bewertung</button>
                        <button onclick="orderMenutypes('numrates')">Anzahl Bewertungen</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="line"></div>

        {% for index, rating, numRates, menu in menu_instances %}
        <div id="menutype-{{index}}" class="menuListbox clickableDiv">
            <h3></h3> <!-- name -->

            <div></div> <!-- date -->

            <div id="vegivegan-container">
                <img class="vegivegan-label" src="{% static 'images/vegetarian.png' %}" alt="vegetarian">
                <img class="vegivegan-label" src="{% static 'images/vegan.png' %}" alt="vegan">
            </div>



            <div class="rating">
                <div></div> <!-- allTimeRating -->
                <div class="stars">
                    <div class="emptystars"></div>
                    <div id="stars-{{index}}" class="fullstars"></div>
                    <div class="starshape"></div>
                </div>
                <div></div> <!-- numRates -->
            </div>
        </div>

        <script data-url="{% url 'menu' menu.pk %}" data-name="{{menu.name}}" data-index="{{index}}"
            data-rating="{{rating}}" data-date="{{menu.date}}" data-numrates="{{numRates}}" data-vegan="{{menu.vegan}}"
            , data-vegetarian="{{menu.vegetarian}}">
                data = document.currentScript.dataset;

                menuType = {
                    url: data.url,
                    name: data.name,
                    date: data.date,
                    index: data.index,
                    rating: data.rating,
                    numrates: data.numrates,
                    vegan: data.vegan,
                    vegetarian: data.vegetarian,
                    visible: true
                }
                menuTypes.push(menuType)
            </script>
        {% endfor %}


    </div>


    <script data-alltimerating="{{allTimeRating}}">
        data = document.currentScript.dataset
        starRate("alltime", data.alltimerating)

        orderMenutypes(orderType)
        toggleStatOptions(0);
        toggleStatOptions(0);
        toggleStatOptions(1);
    </script>



    {% if messages %}
    {% for i in messages %}
    {% autoescape off %}
    {% if i.tags == "error" %}
    <div role="alert" class="alert error"><span>{{i}}</span></div>
    {% else %}
    <div role="alert" class="alert success"><span>{{i}}</span></div>
    {% endif %}
    {% endautoescape %}
    {% endfor %}
    {% endif %}







</main>

{% endblock %}