{% extends "base.html" %}
{% load static %}
{% block content %}



<main id="menu">



    <h1>
        {{menu.name}}   

        <span>  </span>
        <span id="date">&nbsp;&ndash; {{menu.date}}</span>
        <img src="{% static 'images/vegan.png' %}" alt="vegan">  <!-- TODO: input label -->
    </h1>

    <div>{{menu.description}}</div>


    <div id="gallery">  <!-- TODO: image gallery -->
        <button> &lt; </button>


        <div id="images">
            <img src="{% static 'images/no_images_yet.png' %}" alt="no images">
            <div id="image-functions"> <!-- TODO: image functions -->
                <div>user</div> 

                {% if today %}
                <button>like</button>
                <button>dislike</button> 
                <form method="upload" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ imageForm }}
                    <button type="submit">Post</button>
                </form>
                {% endif %}

                <div>num-likes</div>
            </div>
        </div>
        
        
        <button> &gt; </button>
    </div>
    <!--
        <h3>Images</h3>
        <ul>
            {% for image in images %}
                <p>{{image.profil.user.username}}#{{image.profil.karma}}</p>
                <li><img src="{{image.image.url}}" alt="{{image.image.name}}" width="100" height="100"></li>
            {% endfor %}
        </ul>
    -->
    


    



    {% if today %}
    
    <div class="rating">
        <form method="post">
            {% csrf_token %}
            {{ ratingForm }}
            <button type="submit">Post</button>
        </form>
    </div>
    
    <div class="rating"> <!-- TODO: give your own rating -->
        Your Rating
        <img src="{% static 'images/5star.jpg' %}" alt="5 stars">
    </div>

    {% endif%}

    <div class="rating"> <!-- TODO: show average rating -->
        Rating
        <span>({{rating}})</span>
        <img src="{% static 'images/5star.jpg' %}" alt="5 stars">
    </div>

    





    <h3><a href="{% url 'menuType' menu.menuType.pk %}">Vergleiche das Essen</a></h3>






    <div id="reviews">

        {% if today %}
            <h2>
                Reviews | 
                <form id="review-text" method="post">
                    {% csrf_token %}
                    {{ reviewForm }}
                    <button type="submit">Post</button>
                </form>

            </h2>
        {% else %}
            <h2>
                Reviews
            </h2>
        {% endif %}



        {% for review in reviews %}
        <div class="review">
            <div class="review-header">
                <div>{{review.profil.user.username}}</div>
                <div>{{review.profil.karma}}</div>
                <div>Rating</div>
                {% if today %}
                <button>Like</button>
                <button>Dislike</button>
                {% endif %}
                <div>num-likes</div>
            </div>
            {{review.text}}
        </div>
        {% endfor %}
    </div>

    

    {% if messages %}
    {% for i in messages %}
    {% autoescape off %}
    {% if i.tags == "error" %}
    <div role="alert" class="alert error"><span>{{i}}</span></div>
    {% else %}
    <div role="alert" class="alert success"><span>{{i}}</span></div>
    {% endif %}
    {% endautoescape %}
    {% endfor %}
    {% endif %}


    


    

</main>

{% endblock %}