{% extends "base.html" %}
{% load static %}

{% block import %}
{% endblock %}

{% block content %}
{% if messages %}
{% for i in messages %}
{% autoescape off %}
{% if i.tags == "error" %}
<div class="alert error">
    <span class="closebtn" onclick="closeAlert(this.parentElement);">&times;</span>
    {{i}}
</div>
{% else %}
<div class="alert success">
    <span class="closebtn" onclick="closeAlert(this.parentElement);">&times;</span>
    {{i}}
</div>
{% endif %}
{% endautoescape %}
{% endfor %}
{% endif %}

<main id="menu">
    <div class="descriptionContainerMenuSite">
        <div>
            <h1>
                {{menu.name}}
                <span id="date">&nbsp;&ndash; {{menu.date}}</span>
            </h1>
            <p>
                {{menu.description}}
            </p>
        </div>
        {% if menu.vegetarian %}
        <img class="vegivegan-label" src="{% static 'images/vegetarian.png' %}" alt="vegetarian">
        {% elif menu.vegan %}
        <img class="vegivegan-label" src="{% static 'images/vegan.png' %}" alt="vegan">
        {% endif %}
    </div>

    <div class="rating">
        <div class="stars">
            <div class="emptystars"></div>
            <div id="stars-0" class="fullstars"></div>
            <div class="starshape"></div>
        </div>

        <div>
            <p>{{rating}} Sterne von {{numRates}} Bewertungen</p>
        </div>
    </div>

    <!-- https://www.w3schools.com/howto/howto_js_slideshow.asp -->
    <div class="imageContainer">
        {% for image, badges in images %}
        <div class="imageSlide fade">
            <div class="userName imageUserText mainFont">
                {% if image.profil.picture %}
                <img src="{{image.profil.picture.url}}" alt="profil picture" class="profilePicture">
                {% else %}
                <img src="{% static 'images/userProfileIconMaterialSymbol.svg' %}" alt="👤" class="profilePicture">
                {% endif %}
                {% if image.profil.user != None %}
                <span>{{image.profil.user.username}} #{{image.profil.karma}}</span>
                {% else %}
                <span>anonym</span>
                {% endif %}
                {% for i in badges %}
                <div class="tooltip badge">
                    <img src="{{i.image.url}}" alt="" class="badgeImage">
                    <div class="tooltiptext"><span style="font-weight: bold;">{{i.name}}</span><br><span
                            style="">{{i.description}}</span></div>
                </div>
                {% endfor %}
            </div>
            <div class="imgContainer">
                <img src="{{image.image.url}}" alt="{{image.image.name}}" class="imageImage">
            </div>
            <div class="imageButtons">
                {% if today %}
                <!-- <button class="uploadbutton" onclick="togglePopup()">upload</button> -->
                <div class="uploadButton" onclick="togglePopup()">
                    <h3>Bild hochladen</h3>
                </div>
                <button class="like-btn imageLike" onclick="like(2, {{image.pk}})" id="2-{{image.pk}}-btn">Like</button>
                {% endif %}

                <p class="likeText imageLikeText">Likes: <span id="2-{{image.pk}}">{{image.likes}}</span></p>
            </div>

        </div>
        {% endfor %}
        {% if images|length == 0 %}
        <div class="imageSlide fade">
            <div class="imgContainer">
                <img src="{% static 'images/no_images_yet.jpg' %}" alt="Keine Bilder verfügbar" class="imageImage">
            </div>
            <div class="imageButtons">
                {% if today %}
                <!-- <button class="uploadbutton" onclick="togglePopup()">upload</button> -->
                <div class="uploadButton" onclick="togglePopup()">
                    <h3>Bild hochladen</h3>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% else %}
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
    {% endif %}

    <div id="popup">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ imageForm }}
            <button class="uploadButton" type="submit">Hochladen</button>
        </form>
    </div>
    </div>










    <script>
        togglePopup()
        setInterval(checkOrientation, 1000);
        showSlides(slideIndex);
    </script>




    {% if today %}

    <div class="interactionBox">
        <div class="give-star-rating">
            <h3>Wie viele Sterne bekommt {{menu.name}} von dir?</h3>
            <form method="post">
                {% csrf_token %}
                <div class="give-stars">
                    <button type="submit" value="1" name="rating" class="give-star"
                        onclick="change_cursor_wait();"></button>
                    <button type="submit" value="2" name="rating" class="give-star"
                        onclick="change_cursor_wait();"></button>
                    <button type="submit" value="3" name="rating" class="give-star"
                        onclick="change_cursor_wait();"></button>
                    <button type="submit" value="4" name="rating" class="give-star"
                        onclick="change_cursor_wait();"></button>
                    <button type="submit" value="5" name="rating" class="give-star"
                        onclick="change_cursor_wait();"></button>
                </div>
            </form>
        </div>
        <!-- <div id="menuTypeButton"> -->
        <div id="menuTypeButton" onclick="location.href='{% url 'menuType' menu.menuType.pk %}';">
            <h3>Wie häufig gibt es {{menu.name}}</h3>
        </div>
        <!-- <h3><a href="{% url 'menuType' menu.menuType.pk %}">Wie häufig gibt es {{menu.name}}</a></h3>
        </div> -->
    </div>

    <script>
        stars = document.getElementsByClassName("give-star")
        for (let i = 0; i < stars.length; i++) {
            stars[i].addEventListener("mouseover", function () { starHover(stars, i) })
            stars[i].addEventListener("mouseout", function () { stopStarHover() })
        }
    </script>
    {% endif%}


    <div id="reviews">
        {% if today %}
        <h2>
            Reviews
        </h2>
        <form id="review-text" method="post">
            {% csrf_token %}
            {{ reviewForm }}
            <button type="submit" class="orderButton" id="postButton">
                <img src="{% static 'images/postSendIconMaterialSymbol.svg' %}" alt="Beitrag">
            </button>
        </form>
        {% else %}
        <h2>
            Reviews
        </h2>
        {% endif %}



        {% for review, badges in reviews %}
        <div class="review">
            <div class="inReviewDiv">
                {% if review.profil.picture %}
                <img src="{{ review.profil.picture.url }}" alt="profil picture" class="profilePicture">
                {% else %}
                <img src="{% static 'images/userProfileIconMaterialSymbol.svg' %}" alt="👤" class="profilePicture">
                {% endif %}

                <div>
                    {% if review.profil.user.username != None %}
                    <p class="mainFont"><strong>{{review.profil.user.username}}:</strong></p>
                    {% else %}
                    <p class="mainFont"><strong>anonym:</strong></p>
                    {% endif %}

                    <div class="cookieContainer">
                        {% if review.profil.user.username != None %}
                        <img src="{% static 'images/cookieIconMaterialSymbol.svg' %}" alt="Karma:">
                        <p class="italic mainFont">: {{review.profil.karma}}</p>
                        {% endif %}
                    </div>
                </div>

                {% for i in badges %}
                <div class="tooltip badge">
                    <img src="{{i.image.url}}" alt="" class="badgeImage">
                    <div class="tooltiptext"><span style="font-weight: bold;">{{i.name}}</span><br><span
                            style="">{{i.description}}</span></div>
                </div>
                {% endfor %}

            </div>
            <div class="inReviewDiv" id="middle">
                <p>{{review.text}}</p>
            </div>
            <div class="inReviewDiv">
                <div class="cookieContainer">
                    <img onclick="like(1, {{review.pk}})" class="like-btn" id="1-{{review.pk}}-btn"
                        src="{% static 'images/heartIconMaterialSymbol.svg' %}" alt="Likes:">
                    <!-- <button onclick="like(1, {{review.pk}})" id="1-{{review.pk}}-btn" class="like-btn">Like</button> -->
                    <!-- {% if today %} -->
                    <!-- {% endif %} -->
                    <p>
                        <span id="1-{{review.pk}}">{{review.likes}}</span>
                    </p>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>




    <script data-rating="{{rating}}">
        data = document.currentScript.dataset;
        starRate(0, data.rating)
        checkOrientation()
        showSlides(slideIndex);
    </script>

</main>

{% endblock %}