{% extends "base.html" %}
{% load static %}
{% block content %}




<main id="menu">
    <h1 class="title">
        {{name}}   

        {% if vegetarian %}
        <img class="vegivegan-label" src="{% static 'images/vegetarian.png' %}" alt="vegetarian">
        {% elif vegan %}
        <img class="vegivegan-label" src="{% static 'images/vegan.png' %}" alt="vegan">
        {% endif %} 

    </h1>

    <div style="margin-bottom: 2em;">{{description}}</div>


    


    <div id="gallery">  <!-- TODO: image gallery -->
        <button> &lt; </button>

        <div id="images">
            <img src="{% static 'images/no_images_yet.png' %}" alt="no images">
            <div id="image-functions"> <!-- TODO: image functions -->
                <div>user</div> 

                {% if today %}
                <button>like</button>
                <button>dislike</button> 
                <form method="upload" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ imageForm }}
                    <button type="submit">Post</button>
                </form>
                {% endif %}

                <div>num-likes</div>
            </div>
        </div>
        
        <button> &gt; </button>
    </div>
    <!--
        <h3>Images</h3>
        <ul>
            {% for image in images %}
                <p>{{image.profil.user.username}}#{{image.profil.karma}}</p>
                <li><img src="{{image.image.url}}" alt="{{image.image.name}}" width="100" height="100"></li>
            {% endfor %}
        </ul>
    -->
    

    <p>occurrences: {{occurrences}}</p>
    

    <div class="rating">
        <div>{{allTimeRating}}</div>

        <div class="stars">
            <div class="emptystars"></div>
            <div id="stars-alltime" class="fullstars"></div>
            <div class="starshape"></div>
        </div>

        <div>({{allTimeNumRates}})</div>
    </div>

    
    
    

    
    <script>
        let menuTypes = [];
        let orderType = "rating";
    </script>

    <div style="width: 100%;">
        <div class="fade-scroll-top">
            <h1 class="list-title">Alle Menüs</h1>
            <div style="display: flex; gap: 1em">
                <div class="stat">
                    <button onclick="i_toggleStatOptions(0)">filter</button>
                    <div class="stat-criteria">
                        <button onclick="i_filterMenutypes('nofilter')">No Filter</button>
                    </div>
                </div>
                
                <div class="stat">
                    <button onclick="i_toggleStatOptions(1)">order</button>
                    <div class="stat-criteria">
                        <button onclick="i_orderMenutypes('rating')">rating</button>
                        <button onclick="i_orderMenutypes('numrates')">numRates</button>
                    </div>
            </div>
            </div>
        </div>
        <div class="line"></div>

        {% for index, rating, numRates, menu in menu_instances %}
            <div id="menutype-{{index}}" class="menuListbox clickableDiv">   
                <h3></h3> <!-- name -->

                <div id="vegivegan-container">
                    <img class="vegivegan-label" src="{% static 'images/vegetarian.png' %}" alt="vegetarian">
                    <img class="vegivegan-label" src="{% static 'images/vegan.png' %}" alt="vegan">
                </div>

                

                <div class="rating">
                    <div></div> <!-- allTimeRating -->
                    <div class="stars">
                        <div class="emptystars"></div>
                        <div id="stars-{{index}}" class="fullstars"></div>
                        <div class="starshape"></div>
                    </div>
                    <div></div> <!-- numRates -->
                </div>
            </div>

            <script data-url="{% url 'menu' menu.pk %}"data-name="{{menu.name}}" data-index="{{index}}" data-rating="{{rating}}" 
                    data-occ="" data-numrates="{{numRates}}" data-vegan="{{menu.vegan}}", data-vegetarian="{{menu.vegetarian}}">
                data = document.currentScript.dataset;
                
                menuType = {
                    url: data.url,
                    name: data.name,
                    index: data.index,
                    rating: data.rating,
                    numrates: data.numrates,
                    vegan: data.vegan,
                    vegetarian: data.vegetarian,
                    visible: true
                }
                menuTypes.push(menuType)
            </script>
        {% endfor %}


    </div>


    <script>
        i_orderMenutypes(orderType)
        i_toggleStatOptions(0);
        i_toggleStatOptions(0);
        i_toggleStatOptions(1);
    </script>    




    




    





    

    

    {% if messages %}
    {% for i in messages %}
    {% autoescape off %}
    {% if i.tags == "error" %}
    <div role="alert" class="alert error"><span>{{i}}</span></div>
    {% else %}
    <div role="alert" class="alert success"><span>{{i}}</span></div>
    {% endif %}
    {% endautoescape %}
    {% endfor %}
    {% endif %}


    


    

</main>

{% endblock %}