{% extends "base.html" %}
{% block content %}

    <h1>MenuType</h1>

    <p>{{name}}</p>
    <p>occurrences: {{occurrences}}</p>
    <p>all time rating: {{allTimeRating}}</p>


    <div class="fade_scroll_top">
        <h1>
            Every Instance
            <button>order</button>
        </h1>
    </div>


    {% for menu in menu_instances %}
        <div class="menu_listbox">
            <a href="{% url 'menu' menu.pk %}">{{menu.name}}</a> - {{menu.date}}
        </div>
    {% endfor %}

  




{% endblock %}