{% extends 'base.html' %}
{% load static %}
{% block content %}

<main>

    <div class="fade_scroll_top">
        <h1>
            timeline
        </h1>
    </div>
    
    {% for date, menus in menu_dates %}
        <div class="timeline-date">
            <h2>{{date}}</h2>
            {% for menu in menus %}
                <div class="menu_listbox">
                    <a href="{% url 'menu' menu.pk %}">{{menu.name}}</a>
                    - {{menu.date}}
                    
                    {% if menu.vegetarian %}
                    <img class="vegivegan-label" src="{% static 'images/vegetarian.png' %}" alt="vegetarian">
                    {% elif menu.vegan %}
                    <img class="vegivegan-label" src="{% static 'images/vegan.png' %}" alt="vegan">
                    {% endif %} 
                </div>
            {% endfor %}
        </div>
    {% endfor %}

</main>
   

    

{% endblock %}