{% extends "base.html" %}
{% load static %}
{% block content %}

<main>

<h1>User Profile</h1>

<ul>
   <li>{{name}}</li>
   <li>Karma: {{karma}}</li> 
</ul>

<h2>Badges</h2>
<div class="badgeview">
{% for i in badges %}
   <div class="tooltip badgeBig">
      <img src="{{i.image.url}}" alt="" class="badgeBigImage">
      <div class="tooltiptext"><span style="font-weight: bold;">{{i.name}}</span><br><span style="">{{i.description}}</span></div>
   </div>
{% endfor %}
</div>

</main>



{% endblock %}