{% extends "base.html" %}
{% load static %}
{% block content %}

<main>

    <div class="userNameContainer">
        <h1 class="userName">{{name}}</h1>
        <h3>{{karma}} Cookiepoints</h3>
    </div>
    <div class="line"></div>

    <h2 class="titleMargin">Deine Achievemntes</h2>
    <p id="underTitle">Lade Bilder hoch, Kommentiere und Like um Achievments freizuschalten</p>
    {% for cat in badges %}
    <div class="badgeview">
        {% for i in cat %}
        <div class="tooltip badgeBig">
            {% if i.1 %}
            <img src="{{i.0.image.url}}" alt="" class="badgeBigImage">
            {% else %}
            <img src="{{i.0.image.url}}" alt="" class="badgeBigImage unposses">
            {% endif %}
            <div class="tooltiptext"><span style="font-weight: bold;">{{i.0.name}}</span><br><span
                    style="">{{i.0.description}}</span></div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}


    <h2 id="bottomTitle">Hochgeladene Bilder</h2>
    <!-- https://www.w3schools.com/howto/howto_js_slideshow.asp -->
    <div class="imageContainer">
        {% for image in images %}
        <div class="imageSlide fade">
            <div class="imgContainer">
                <img src="{{image.image.url}}" alt="{{image.image.name}}" class="imageImage">
            </div>
            <div class="imageButtons">
                <p class="likeText imageLikeText">Likes: <span id="2-{{image.pk}}">{{image.likes}}</span></p>
            </div>
        </div>
        {% endfor %}
        {% if images|length == 0 %}
        <div class="imageSlide">
            <div class="imgContainer" style="justify-content: left;">
                <p class="leftText">Noch keine Bilder hochgeladen.</p>
            </div>
        </div>
        {% else %}
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
        {% endif %}
    </div>

    <script>
        setInterval(checkOrientation, 100);
        showSlides(slideIndex);
    </script>

    <h2>Reviews</h2>
    {% for review in reviews %}
    <div class="review">
        <div class="review-header">
            <div>Rating</div>
            <div>Likes: <span id="1-{{review.pk}}">{{review.likes}}</span></div>
        </div>
        {{review.text}}
    </div>
    {% endfor %}
</main>



{% endblock %}