{% extends "base.html" %}
{% load static %}
{% block content %}

<main>

<h1>User Profile</h1>

<ul>
   <li>{{name}}</li>
   <li>Karma: {{karma}}</li> 
</ul>

<h2>Badges</h2>
<div class="badgeview">
{% for i in badges %}
   <div class="tooltip badgeBig">
      <img src="{{i.image.url}}" alt="" class="badgeBigImage">
      <div class="tooltiptext"><span style="font-weight: bold;">{{i.name}}</span><br><span style="">{{i.description}}</span></div>
   </div>
{% endfor %}
</div>

<h2>Images</h2>
<!-- https://www.w3schools.com/howto/howto_js_slideshow.asp -->
<div class="imageContainer">
   {% for image in images %}
       <div class="imageSlide fade">
           <div class="imgContainer">
               <img src="{{image.image.url}}" alt="{{image.image.name}}" class="imageImage">
           </div>
           <div class="imageButtons">
               <p class="likeText imageLikeText">Likes: <span id="2-{{image.pk}}">{{image.likes}}</span></p>
           </div>
       </div>
   {% endfor %}
   {% if images|length == 0 %}
       <div class="imageSlide fade">
           <div class="imgContainer">
               <img src="{% static 'images/no_images_yet.png' %}" alt="Keine Bilder verfügbar" class="imageImage">
           </div>
       </div>
   {% else %}
       <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
       <a class="next" onclick="plusSlides(1)">&#10095;</a>
   {% endif %}
</div>

<script>
   setInterval(checkOrientation, 100);
   showSlides(slideIndex);
</script>

<h2>Reviews</h2>
{% for review in reviews %}
        <div class="review">
            <div class="review-header">
                <div>Rating</div>
                <div>Likes: <span id="1-{{review.pk}}">{{review.likes}}</span></div>
            </div>
            {{review.text}}
        </div>
{% endfor %}
</main>



{% endblock %}